<!DOCTYPE html>
<html lang="en">
  <!-- <%= metadata_comment %> -->
  <head>
    <title><%= title %></title>
    <meta name="generator" content="RockBooks Accounting"/>
    <style>
        body {
            padding: 36px;
            background-color: #d5f3fb;
            color: #01182d;
            max-width: 1024px;
            float: none !important;
            margin: 0 auto !important;
            border: 0px;
            font-size: 15px !important;
        }
    </style>
  </head>
  <body>
    <pre>
<%=   report_body %>
    </pre>
  </body>
</html>
