<!DOCTYPE html>
<html lang="en">
  <!-- <%= metadata_comment %> -->
  <head>
    <title><%= title %></title>
    <meta name="generator" content="RockBooks Accounting"/>
  </head>
  <body>
    <pre>
<%=   report_body %>
    </pre>
  </body>
</html>
